<h1>Edit an Appearance</h1>

<%= form_for @appearance do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: (1..5) %>
  Choose Episode
  <%= f.collection_select :episode_id, Episode.all, :id, :date, { prompt: "Choose an episode" }, class: "browser-default"  %>
  Choose Guest
  <%= f.collection_select :guest_id, Guest.all, :id, :name, { prompt: "Choose a guest" }, class: "browser-default"  %>
  <%= f.submit class "btn"%>
<% end %>
