<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">

    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Guests", guests_path %></li>
      <li><%= link_to "Episodes", episodes_path %></li>
      <li><%= link_to "Add Appearance", new_appearance_path%></a></li>
    </ul>
  </div>
</nav>
    <div class="container">
      <%= yield %>

    </div>
  </body>
</html>
